{
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "Config": true,
    "Log": true
  },
  "plugins": [
    "rapid7"
  ],
  "extends": "rapid7",
  "rules": {
    "prefer-spread": 0,
    "require-jsdoc": [2, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true
      }
    }]
  }
}
