* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}
body {
  /* http://uigradients.com/#Clouds */
  /*
  background: #ece9e6;
  background: -webkit-linear-gradient(to left, #ece9e6, #ffffff);
  background: linear-gradient(to left, #ece9e6, #ffffff);
  */
  background: rgb(244,242,240);
  color: #333;
}
a, a:visited, a:hover {
  text-decoration: none;
  color: #333;
}
header {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  line-height: 1;
  padding: 1.6rem;
  box-shadow: .1rem .1rem .5rem rgba(0,0,0,.3);
}
header p + p:before {
  content: '|';
  margin: 0 1rem;
}
/* SLIDES */
.step {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 80rem;
  height: 60rem;
  margin: 0 auto;
  font-size: 4.8rem;
  line-height: 1.5;
}
.impress-enabled .step {
}
.impress-enabled .step.active {
}

/* CODE */
pre {
  font-size: 3.6rem;
  line-height: 1.25;
  font-family: 'Anonymous Pro', monospace;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ops {
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}

.dev {
  font-family: 'Anonymous Pro', monospace;
}

.infographic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.infographic > .row {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.infographic .icon + .icon {
  margin-top: 1rem;
}

.infographic .icon:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
}

.infographic .icon:nth-child(3n) {
  transform: rotate(-3deg);
  position: relative;
}

.infographic .icon:nth-child(5n) {
  transform: rotate(5deg);
  position: relative;
}

.infographic p {
  font-family: 'PT Sans Narrow', sans-serif;
}

.title {
  font-family: 'Abril Fatface', 'PT Serif', serif;
  text-align: center;
}

.stage h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.stage h3 {
  font-family: 'Abril Fatface', 'PT Serif', serif;
  font-size: 9.6rem;
  line-height: 9.6rem;
}

/* http://nicolasgallagher.com/pure-css-gui-icons/ */
.icon {
  display: inline-block;
  width: 9.6rem;
  height: 9.6rem;
  font-size: 4.8rem;
  line-height: 9.6rem;
  white-space: pre;
}
.icon:before,
.icon:after {
  display: block;
  margin: 0 auto;
  content: '';
  background: currentColor;
}

.human.icon {
  transform: none !important;
  color: silver;
}
.human.icon:before {
  width: 31.25%;
  height: 34.375%;
  border: 0.1rem solid #586e75;
  border-radius: 50%;
}
.human.icon:after {
  width: 37.5%;
  height: 50%;
  border: 0.1rem solid #586e75;
  border-radius: 50% 50% 0 0;
}
.computer.icon {
  color: silver;
}
.computer.icon:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-type);
  width: 75%;
  height: 50%;
  border: .8rem solid transparent;
  border-radius: 6.25%;
  box-shadow:
    0 0 0 0.1rem rgba(88,110,117,1)
  , inset 0 0 0 0.1rem rgba(88,110,117,1)
  , inset 0 100rem 0 0.1rem rgba(0,0,0,.5)
  ;
}
.computer.icon:after {
  width: 75%;
  height: 30%;
  border: 0.1rem solid #586e75;
  border-radius: 6.25% 6.25% 0 0;
}
.server.icon:before {
  box-shadow:
    0 0 0 0.1rem rgba(88,110,117,1)
  , inset 0 0 0 0.1rem rgba(88,110,117,1)
  , inset 0 100rem 0 0.1rem rgba(190,80,27,1)
  ;
}
.document.icon {
  position: relative;
  width: 7.8rem;
  border: .4rem solid #586e75;
  margin: 0 auto;
}
.document.icon:before {
  content: '';
  position: absolute;
  top: -.4rem;
  left: -.4rem;
  background: transparent;
  border: 1.5rem solid transparent;
  border-color: rgb(244,242,240) #586e75 #586e75 rgb(244,242,240);
  display: block;
  width: 0;
}
.document.icon:after {
  content: '\2263';
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  font-size: 9.6rem;
  line-height: 1;
  color: #586e75;
  transform: translate(-50%, -50%);
}
.document.code:after {
  content: '{}';
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 9.6rem;
  font-family: 'Anonymous Pro', monospace;
}
.rss.icon {
  position: relative;
  color: #586e75;
  overflow: hidden;
}
.rss.icon:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 3rem;
  height: 3rem;
  background: currentColor;
  border-radius: 50%;
}
.rss.icon:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 50%;
  height: 50%;
  background: transparent;
  border-width: 4rem 4rem 0 0;
  border-style: double;
  border-color: currentColor;
  border-radius: 0 100% 0 0;
}
.email.icon {
  position: relative;
  color: #586e75;
}
.email.icon:before {
  content: '';
  z-index: 1;
  position: absolute;
  left: 2.4rem;
  width: 4.8rem;
  height: 4.8rem;
  border-width: 0 .4rem .4rem 0;
  border-style: solid;
  border-color: rgb(244,242,240);
  margin-top: -5.2rem;
  background: transparent;
  transform: rotate(39deg) skew(-12deg);
}
.email.icon span:before {
  position: absolute;
  content: '';
  left: 1.2rem;
  width: 2.4rem;
  margin-top: -2.8rem;
  border-width: 2.4rem;
  border-style: solid;
  border-color: currentColor currentColor transparent;
  background: transparent;
}
.email.icon span:after {
  position: absolute;
  left: 1.6rem;
  margin-top: -1.2rem;
  content: '';
  border-width: 0 3.2rem 3.6rem;
  border-style: solid;
  border-color: currentColor transparent;
  background: transparent;
}
.storage.icon {
  position: relative;
  color: #586e75;
  background: currentColor;
  width: 9.6rem;
}
.storage.icon:before {
  position: absolute;
  left: 0;
  bottom: -25%;
  content: '';
  width: 9.6rem;
  height: 50%;
  background: currentColor;
  border-radius: 50%;
}
.storage.icon:after {
  position: absolute;
  left: 0;
  top: -25%;
  content: '';
  width: 9.2rem;
  height: 50%;
  background: rgb(244,242,240);
  border: .2rem solid currentColor;
  border-radius: 50%;
}
/* http://one-div.com/pictos/cloud/ */
.cloud.icon {
  position: relative;
  margin-top: 1.6rem;
  width: 9.6rem;
  height: 3.2rem;
  color: #586e75;
  background: currentColor;
  background-image: linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
  border-radius: 3.2rem;
}
.cloud.icon:before {
  content: '';
  position: absolute;
  top: -2.4rem;
  left: 1.3rem;
  width: 5.1rem;
  height: 5.1rem;
  background: currentColor;
  background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
  border-radius: 50%;
}
.cloud.icon:after {
  position: absolute;
  top: -1.6rem;
  right: 1.3rem;
  width: 3.2rem;
  height: 3.2rem;
  background: currentColor;
  background-image: linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
  border-radius: 50%;
}
.lock.icon {
  position: relative;
  color: #586e75;
  background: transparent;
}
.lock.icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background: currentColor;
  transform: translate(-50%, -50%);
}
.lock.icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 25%;
  height: 25%;
  border: .8rem solid currentColor;
  border-bottom: 0;
  background: transparent;
  border-radius: 100% 100% 0 0;
  transform: translateX(-50%);
}
.lock.icon span:before {
  content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  width: 19%;
  height: 19%;
  border-radius: 50%;
  background: rgb(244,242,240);
  transform: translate(-50%, -50%);
}
.lock.icon span:after {
  content: '';
  position: absolute;
  top: 55%;
  left: 50%;
  width: 10%;
  height: 20%;
  background: rgb(244,242,240);
  transform: translate(-50%, -50%);
}
/* CARTOONS */
.cartoon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.spoken {
  position: relative;
  display: block;
  background: #fff;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 3.6rem;
  line-height: 1.5;
  z-index: 1;
}
.spoken:before {
  content: '';
  position: absolute;
  bottom: -2rem; /* value = -(border-top-wdith - border-bottom-width) */
  left: 50%;
  border-width: 2rem 2rem 0;
  border-style: solid;
  border-color: #000 transparent;
  display: block;
  width: 0;
  transform: translate(-50%, 0);
}
.spoken:after {
  content: '';
  position: absolute;
  bottom: -1.8rem; /* value = -(border-top-wdith - border-bottom-width) */
  left: 50%; /* value = before:left + before:border-left - after:border-left */
  border-width: 1.8rem 1.8rem 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
  transform: translate(-50%, 0);
}
.informative {
  position: absolute;
  top: 0;
  left: 0;
  border: .1rem solid #000;
  border-right: none;
  background: #fff;
  font-size: 3.6rem;
  line-height: 1;
  padding: 1rem;
}
.informative:before {
  content: '';
  position: absolute;
  top: -.1rem;
  right: -3rem;
  background: transparent;
  border-width: 5.9rem 3rem 0 0;
  border-style: solid;
  border-color: #000 transparent;
  display: block;
  width: 0;
  z-index: -1;
}
.informative:after {
  content: '';
  position: absolute;
  top: 0;
  right: -2.8rem;
  background: transparent;
  border-width: 5.9rem 3rem 0 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: -1;
}
/* EDITS */
.edited {
  position: relative;
  font-size: 4.8rem;
  line-height: 1;
}
del {
  position: relative;
  text-decoration: none;
}
del:after {
  content: 'X';
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) rotate(-3deg) scale(8, .75);
  opacity: .7;
}
del.iconic:after {
  transform: translate(-50%, -50%) rotate(-3deg) scale(4, 4) !important;
  top: 40%;
}
ins {
  position: absolute;
  top: -150%;
  right: -75%;
  text-decoration: none;
  white-space: pre;
  transform: rotate(-11deg);
}
/* PHOTOS */
.album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255,255,255,1);
  padding: 1.5%;
  padding: 1.2rem;
  border: .1rem solid rgba(0,0,0,.4);
  font-size: 3.2rem;
  line-height: 4.8rem;
  box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
  transform: rotate(-2deg);
}
.photo > * {
  display: block;
  width: 18rem;
  height: 18rem;
  border: .1rem solid rgba(0,0,0,.3);
}
.photo.r2,
.photo.r4 {
  transform: rotate(2deg);
}
.photo.r3 {
  position: relative;
  top: -.5rem;
}
.photo.r5 {
  transform: rotate(5deg);
  position: relative;
  right: .5rem;
}
.photo.r6 {
  position: relative;
  top: .3rem;
  left: -.5rem;
}
/* LOGOS */
.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.logo + .logo {
  margin-left: 2rem;
}
/* TIMELINE */
.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.timeline p {
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
/* PRODUCTS */
.product h2 {
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}
.product a {
  font-family: 'Anonymous Pro', monospace;
}
/* STAMPS */
.xp,
.costly,
.interrupt,
.pattern,
.anti-pattern {
  position: relative;
  font-size: 6rem;
  line-height: 1;
  text-align: center;
  font-family: 'Abril Fatface', 'PT Serif', serif;
}
.xp:before,
.costly:before,
.interrupt:before,
.pattern:before,
.anti-pattern:before {
  position: absolute;
  top: -100%;
  left: 50%;
  text-transform: uppercase;
  letter-spacing: .5rem;
  text-align: center;
  font-size: 3.6rem;
  line-height: 1;
  border: .5rem solid currentColor;
  border-radius: 1rem;
  padding: 1rem;
  transform: translate(-50%, -50%) rotate(-7deg);
  opacity: .5;
  font-weight: bold;
  white-space: pre;
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}
.pattern:before {
  content: 'Pattern';
  color: green;
}
.anti-pattern:before {
  content: 'Anti-Pattern';
  color: red;
}
.interrupt:before {
  content: 'Interrupt';
  color: green;
}
.costly:before {
  content: '$$$';
  color: red;
}
.xp:before {
  content: 'Level Up';
  color: green;
}
