* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}
body {
  /* http://uigradients.com/#Clouds */
  /*
  background: #ece9e6;
  background: -webkit-linear-gradient(to left, #ece9e6, #ffffff);
  background: linear-gradient(to left, #ece9e6, #ffffff);
  */
  background: rgb(244,242,240);
  color: #333;
}
a, a:visited, a:hover {
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  line-height: 1;
  padding: 1.6rem;
  box-shadow: .1rem .1rem .5rem rgba(0,0,0,.3);
}
header p + p:before {
  content: '|';
  margin: 0 1rem;
}
/* SLIDES */
.step {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 80rem;
  height: 60rem;
  margin: 0 auto;
  font-size: 4.8rem;
  line-height: 1.5;
}
.impress-enabled .step {
}
.impress-enabled .step.active {
}

/* CODE */
pre {
  font-size: 3.6rem;
  line-height: 1.25;
  font-family: 'Anonymous Pro', monospace;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ops {
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}

.dev {
  font-family: 'Anonymous Pro', monospace;
}

.infographic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.infographic > .row {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.infographic .icon + .icon {
  margin-bottom: 2rem;
}

.infographic .icon:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  top: .5rem;
}

.infographic .icon:nth-child(3n) {
  transform: rotate(-3deg);
  position: relative;
  top: -.5rem;
}

.infographic .icon:nth-child(5n) {
  transform: rotate(5deg);
  position: relative;
  top: -1rem;
}

.infographic p {
  font-family: 'PT Sans Narrow', sans-serif;
}

.title {
  font-family: 'Abril Fatface', 'PT Serif', serif;
  text-align: center;
}

.stage h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.stage h3 {
  font-family: 'Abril Fatface', 'PT Serif', serif;
  font-size: 9.6rem;
  line-height: 9.6rem;
}

.icon {
  display: inline-block;
  width: 9.6rem;
  height: 9.6rem;
  font-size: 4.8rem;
  line-height: 9.6rem;
  white-space: pre;
}
.icon:before,
.icon:after {
  display: block;
  margin: 0 auto;
  content: '';
  background: silver;
}

.human.icon {
  transform: none !important;
}
.human.icon:before {
  width: 31.25%;
  height: 34.375%;
  border: 0.1rem solid #586e75;
  border-radius: 50%;
}
.human.icon:after {
  width: 37.5%;
  height: 50%;
  border: 0.1rem solid #586e75;
  border-radius: 50% 50% 0 0;
}
.computer.icon:before {
  width: 75%;
  height: 50%;
  border: .8rem solid transparent;
  border-radius: 6.25%;
  box-shadow:
    0 0 0 0.1rem rgba(88,110,117,1)
  , inset 0 0 0 0.1rem rgba(88,110,117,1)
  , inset 0 100rem 0 0.1rem rgba(0,0,0,.5)
  ;
}
.computer.icon:after {
  width: 75%;
  height: 30%;
  border: 0.1rem solid #586e75;
  border-radius: 6.25% 6.25% 0 0;
}
.document.icon {
  position: relative;
  width: 7.8rem;
  border: .4rem solid #586e75;
  margin: 0 auto;
}
.document.icon:before {
  content: '';
  position: absolute;
  top: -.4rem;
  left: -.4rem;
  background: transparent;
  border: 1.5rem solid transparent;
  border-color: rgb(244,242,240) #586e75 #586e75 rgb(244,242,240);
  display: block;
  width: 0;
}
.document.icon:after {
  content: '\2263';
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  font-size: 9.6rem;
  line-height: 1;
  color: #586e75;
  transform: translate(-50%, -50%);
}
.document.code:after {
  content: '{}';
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 9.6rem;
  font-family: 'Anonymous Pro', monospace;
}
/* CARTOONS */
.cartoon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.spoken {
  position: relative;
  display: block;
  background: #fff;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 3.6rem;
  line-height: 1.5;
  z-index: 1;
}
.spoken:before {
  content: '';
  position: absolute;
  bottom: -2rem; /* value = -(border-top-wdith - border-bottom-width) */
  left: 50%;
  border-width: 2rem 2rem 0;
  border-style: solid;
  border-color: #000 transparent;
  display: block;
  width: 0;
  transform: translate(-50%, 0);
}
.spoken:after {
  content: '';
  position: absolute;
  bottom: -1.8rem; /* value = -(border-top-wdith - border-bottom-width) */
  left: 50%; /* value = before:left + before:border-left - after:border-left */
  border-width: 1.8rem 1.8rem 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
  transform: translate(-50%, 0);
}
.informative {
  position: absolute;
  top: 0;
  left: 0;
  border: .1rem solid #000;
  border-right: none;
  background: #fff;
  font-size: 3.6rem;
  line-height: 1;
  padding: 1rem;
}
.informative:before {
  content: '';
  position: absolute;
  top: -.1rem;
  right: -3rem;
  background: transparent;
  border-width: 5.9rem 3rem 0 0;
  border-style: solid;
  border-color: #000 transparent;
  display: block;
  width: 0;
  z-index: -1;
}
.informative:after {
  content: '';
  position: absolute;
  top: 0;
  right: -2.8rem;
  background: transparent;
  border-width: 5.9rem 3rem 0 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: -1;
}
/* EDITS */
.edited {
  position: relative;
  font-size: 4.8rem;
  line-height: 1;
}
del {
  position: relative;
  text-decoration: none;
}
del:after {
  content: 'X';
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) rotate(-3deg) scale(8, .75);
  opacity: .7;
}
ins {
  position: absolute;
  top: -150%;
  right: -75%;
  text-decoration: none;
  white-space: pre;
  transform: rotate(-11deg);
}
/* PHOTOS */
.album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255,255,255,1);
  padding: 1.5%;
  padding: 1.2rem;
  border: .1rem solid rgba(0,0,0,.4);
  font-size: 3.2rem;
  line-height: 4.8rem;
  box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
  transform: rotate(-2deg);
}
.photo > img {
  display: block;
  width: 18rem;
  height: 18rem;
  border: .1rem solid rgba(0,0,0,.3);
}
.photo.r2,
.photo.r4 {
  transform: rotate(2deg);
}
.photo.r3 {
  position: relative;
  top: -.5rem;
}
.photo.r5 {
  transform: rotate(5deg);
  position: relative;
  right: .5rem;
}
.photo.r6 {
  position: relative;
  top: .3rem;
  left: -.5rem;
}
/* LOGOS */
.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.logo + .logo {
  margin-left: 2rem;
}
/* TIMELINE */
.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.timeline p {
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}
/* PRODUCTS */
.product h2 {
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}
.product a {
  font-family: 'Anonymous Pro', monospace;
}
/* STAMPS */
.pattern,
.anti-pattern {
  position: relative;
  font-size: 6rem;
  line-height: 1;
  text-align: center;
  font-family: 'Abril Fatface', 'PT Serif', serif;
}
.pattern:before,
.anti-pattern:before {
  position: absolute;
  top: -100%;
  left: 50%;
  text-transform: uppercase;
  letter-spacing: .5rem;
  text-align: center;
  font-size: 3.6rem;
  line-height: 1;
  border: .5rem solid currentColor;
  border-radius: 1rem;
  padding: 1rem;
  transform: translate(-50%, -50%) rotate(-7deg);
  opacity: .5;
  font-weight: bold;
  white-space: pre;
  font-family: 'PT Sans Narrow', 'PT Sans', sans-serif;
}
.pattern:before {
  content: 'Pattern';
  color: green;
}
.anti-pattern:before {
  content: 'Anti-Pattern';
  color: red;
}
